.feynman__subtitle {
    margin: 0;
    padding: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 51px;
    font-size: 36px;
    font-weight: 400;
    position: relative; 
    /*без относительного позиционирования подзаголовок не поднять из-за картинки*/
    z-index: 10;
  }